.textarea__container {
  width: 100%;
  height: 82px;
  margin-bottom: 2rem;
}

.input__textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0.5rem;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  line-height: 20px;
  border-bottom: thin solid var(--fuente-ceniza-claro);
}

.input__textarea::placeholder {
  visibility: hidden;
  color: #000000;
}

.input__textarea:focus {
  outline: none;
  border-bottom: medium solid var(--fuente-azul);
}

.input__label--textarea {
  position: relative;
  top: -4rem;
  left: 0.5rem;
  color: var(--fuente-ceniza-claro);
}

.input__textarea:not(:placeholder-shown) + .input__label--textarea,
.input__textarea:focus + .input__label--textarea {
  font-size: 12px;
  top: -5rem;
  transition: all 0.25s;
  color: var(--fuente-azul);
}

.textarea__container--invalid .input__textarea {
  border: thin solid var(--fuente-failure);
  background: var(--background-invalid);
}

.textarea__container--invalid .input__label--textarea {
  color: var(--fuente-failure);
}

.textarea__message--error {
  display: none;
}

.textarea__container--invalid .textarea__message--error {
  display: block;
  color: var(--fuente-failure);
  font-size: 13px;
  position: relative;
  top: -1.3rem;
  padding: 0.5rem;
}
