.footer__rodapie {
  width: 100%;
  height: 102px;
  background: var(--background-blanco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__rodapie--text {
  width: 280px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: center;
}

.footer__social__icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--fuente-azul);
}

.icono:active {
  scale: 1.1;
  color: var(--link);
  transition: all 0.5s ease;
}

@media screen and (min-width: 1200px) {
  .icono:hover {
    scale: 1.2;
    color: var(--link);
    transition: all 300ms ease-in-out;
  }
}
