:root {
  --background-principal: #f5f5f5;
  --background-azul-claro: #eaf2fd;
  --background-blanco: #ffffff;
  --background-azul: #2a7ae4;
  --background-invalid: rgba(255, 0, 0, 0.1);
  --shadow: rgba(46, 204, 113, 0.95);
  --black-shadow: rgba(0, 0, 0, 0.5);
  --white-shadow: rgba(255, 255, 255, 0.5);
  --link: rgba(129, 212, 250, 0.8);

  --fuente-ceniza-oscuro: #464646;
  --fuente-ceniza-claro: #a2a2a2;
  --fuente-azul: #2a7ae4;
  --fuente-blanca: #ffffff;
  --fuente-success: #52ad5a;
  --fuente-failure: #ff0000;
}

html {
  box-sizing: border-box;
  color: var(--fuente-ceniza-oscuro);
  background: var(--background-principal);
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  padding: 1rem;
}

.disabled {
  display: none;
}

@media screen and (min-width: 768px) {
  .disabled {
    display: none;
  }

  .disabled-icon {
    display: none;
  }

  .container {
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .disabled {
    display: block;
  }

  .container {
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    padding: 1rem 8rem;
  }
}

@media screen and (min-width: 1900px) {
  .container {
    padding: 1rem 20rem;
  }
}
