.header {
  background: var(--background-blanco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__left {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 28px;
}

.header__searchbar {
  display: flex;
  width: auto;
  height: 40px;
  order: 1;
  justify-content: flex-end;
  align-items: center;
}

.header__searchbar__input {
  position: absolute;
  box-sizing: border-box;
  height: 42px;
  width: 93%;
  padding: 0 20px;
  border-radius: 50px;
  background: var(--background-principal);
  border: none;
  transition: all 0.7s ease;
}

.header__searchbar__input:focus {
  background: var(--background-azul-claro);
  outline: thin solid var(--fuente-azul);
}

.header__search {
  position: absolute;
  top: 26px;
  right: 24px;
  font-size: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }

  .header__left {
    justify-content: start;
    padding-right: 2rem;
  }

  .header__logo {
    margin-right: 1.5rem;
  }

  .header__searchbar {
    order: 0;
    margin-left: 10rem;
  }

  .header__search {
    display: flex;
    position: relative;
    top: 5px;
    right: 10px;
    color: var(--fuente-ceniza-claro);
    cursor: pointer;
  }

  .header__searchbar__input {
    display: flex;
    width: 40%;
    background: var(--background-principal);
    border: none;
    border-radius: 20px;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    padding: 2rem 8rem;
  }

  .header__searchbar__input {
    width: 30%;
  }

  .header__logo {
    width: 176px;
    height: 50px;
  }

  .header__logo img {
    width: 100%;
  }
}

@media screen and (min-width: 1900px) {
  .header {
    padding: 2rem 20rem;
  }

  .header__searchbar__input {
    width: 25%;
  }
}
