.product__card {
  width: 156px;
  height: 249px;
}

.product__card:hover {
  scale: 1.1;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .product__card {
    width: 164px;
    height: 252px;
  }
}

@media screen and (min-width: 1024px) {
  .product__card {
    width: 176px;
  }

  .product__card:hover {
    scale: 1.1;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
