.product__icons {
  width: 95%;
  height: 0px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -95%;
}

.delete__product__icon {
  color: var(--fuente-blanca);
  font-size: 20px;
  cursor: pointer;
  margin: 0 0.5rem;
}

.delete__product__icon:hover {
  scale: calc(120%);
  color: var(--fuente-failure);
  text-shadow: 2px 2px 2px var(--white-shadow);
  transition: all 300ms ease;
}

.edit__product__icon {
  color: var(--fuente-blanca);
  font-size: 20px;
  cursor: pointer;
  margin: 0 0.5rem;
}

.edit__product__icon:hover {
  scale: calc(120%);
  color: var(--fuente-azul);
  text-shadow: 2px 2px 2px var(--white-shadow);
  transition: all 300ms ease;
}
