.products__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2%;
}

.products__header--add {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2%;
}

@media screen and (min-width: 550px) {
  .products__header {
    padding: 0.5rem 0;
  }

  .products__header--add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
