.products__header__title {
  font-size: 22px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .products__header__title {
    padding-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .products__header__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .products__header__title {
    font-size: 2rem;
    line-height: 37.57px;
    padding-bottom: 1rem;
  }
}
