.product__icons {
  width: 95%;
  height: 0px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -95%;
}

.delete__product__icon {
  cursor: pointer;
  margin: 0 0.5rem;
}

.edit__product__icon {
  cursor: pointer;
  margin: 0 0.5rem;
}
